.navbar{
    background-color: #050505;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.navbar ul a{
    text-decoration: none3;
}